:root {
    --gains: #D4DAD5;
    --space: #2E3532;
    --ruby: #8B2635;
}


.contact-container { 
    display: flex;
    padding: 0px 100px;
}

.social {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border: 0;
    background-color: var(--gains);
    cursor: pointer;
}

.contact {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 5px;
    border: 0;
    background-color: var(--gains);
}

.social:hover {
    background-color: var(--ruby);
    transform: scale(1.1);
    transition-duration: 0.5s;
}

.link {
    text-decoration: none;
}

.linked-in-picture {
    width: 30px;
}

.contact-title {
    margin: 5px;
}