.contact-container { 
    display: flex;
    font-weight: 800;
    padding: 0px 60px;
    flex-wrap: wrap;
}

.social {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    border: 0;
    background-color: var(--gains);
    cursor: pointer;
}

.contact {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 15px;
    margin: 10px;
    padding: 5px;
    border: 0;
    background-color: var(--gains);
}

.social:hover {
    background-color: var(--ruby);
    transform: scale(1.1);
    transition-duration: 0.5s;
    border-radius: 0.6em;
}

.link {
    text-decoration: none;
}

.linked-in-picture {
    width: 30px;
}

.contact-title {
    margin: 5px;
}