:root {
    --gains: #D4DAD5;
    --space: #2E3532;
    --ruby: #8B2635;
}


body {
    background-color: var(--gains);
    font-family: 'Montserrat', sans-serif;
}

.app {
    justify-content: center;
    flex-direction: column;
}

.top-info {
    display: flex;
    Justify-Content: center;
    flex-direction: row;
    margin: 25px;
    flex-wrap: wrap;
}

.other-stuff {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 35px;
}