:root {
    --gains: #D4DAD5;
    --space: #2E3532;
    --ruby: #8B2635;
}

.about-container {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.about {
    text-align: justify;
    color: var(--space);
    font-weight: 800;
    max-width: 540px;
}

.name {
    color: var(--space);
    text-align: left;
    margin: 0px;
}