:root {
    --gains: #D4DAD5;
    --space: #2E3532;
    --ruby: #8B2635;
}


body {
    background-color: var(--gains);
    font-family: 'Montserrat', sans-serif;
}


.top-info {
    display: flex;
    Justify-Content: center;
    flex-direction: row;
    margin: 25px;
}

.other-stuff {
    display: flex;
    justify-content: center;
}